.searchUVIndex .result{
    padding: 2px;
    border-radius: 4px;
}

.jumbotron{
    background:#fff;
    border: 1px solid #e5e5e5;
}

.dayCards .col-lg{
    margin: 10px 5px;
}

.dayCards .card{
    
    background: blue;
    color: white;

}